@font-face {
    font-family: 'Open Sans';
    src: url(fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
}
.body {
    background-color: #dde2e2;
    font-family: 'Open Sans';
    font-weight: 700;
}
h1 {
    color: #2f6d6d;
}
.wrapper {
    width: 50%;
    margin: 30px auto;
}
.image--mem {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
}
.bayan-container {
    margin: 20px 0;
}
.bayan-container .acor-body {
    width: 90%;
    margin: auto;
    height: 0;
    padding: 0 30px;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
}
.bayan-container label {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #43c4c4;
    margin: 0 0 5px;
    transition: color .35s;
    border-top: 4px solid #bbcccc;
}
.acor-body {
    cursor: pointer;
}
.acor-body:hover {
    height: auto;
    margin-top: -5px;
    padding: 20px 30px 10px;
}
.bayan-container:hover + .bayan-container label{
    color: #1e5757;
}
.bayan-container label:hover + .acor-body {
    height: auto;
    margin-top: -5px;
    padding: 20px 30px 10px;
}
.bayan-container input{
    display: none;
}
.bayan-container input:checked + label {
    color: #3f9e9e;
}
.bayan-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    padding: 20px 30px 10px;
}
.bayan-container label:before {
    content: " ";
    width: 25px;
    height: 25px;
    background-image: url(img/open-icon-hover.png);
    background-size: 100%;
    float: right;
}
.bayan-container input:checked + label:before {
    transition: all .35s;
    background-image: url(img/close-icon.png);
}
@media (max-width: 970px) {
    .wrapper {
        width: 70%;
    }
    .bayan-container label {
        font-size: 18px;
    }
    .bayan-container label:before {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 530px) {
    .wrapper {
        width: 80%;
    }
    .bayan-container label {
        font-size: 16px;
    }
    .bayan-container label:before {
        width: 16px;
        height: 16px;
    }
    .image--mem {
        width: 90%;
    }
}